 <link rel="stylesheet" href="/stylesheets/chat.css" />  
  
   <div id="comments-section" class="comments-section">

  <% chats.reverse().forEach(function(chat) { %>
    <div class="comments" style="align-items: center; margin-left: auto; margin-right: auto;">
      <h1><%= chat.icon %> <%= chat.author %>:<br /></h1>

      <p><%= chat.comment %></p>

      <h5 class="time"><%= chat.submitted %></h5>
    </div>
    <% }); %>
  </div>

  </div>

  <script>


 setTimeout(function(){ window.location.reload(); }, 5000);


</script>